@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');
@import "tailwindcss";

:root{
  --white: #ffffff;
  --black: #000000;
  --red: #E60012;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-vt323: 'VT323', monospace;

}


.no-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background: #f9f9f9;
  border-radius: 5px;
}

/* Background color of the scrollbar track */
::-webkit-scrollbar-track {
  background: #f9f9f9;
  border-radius: 5px;
  
}

/* Color of the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #ff0000;  /* Red color */
  border-radius: 5px;
}

/* Color of the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cc0000;  /* Darker red on hover */
}

